<%= content_for :seo do %>
	<title>Sobre o TCC de SEO</title>
  <meta name="description" content="">
<% end %>

<%= render :partial => "home/nav" %>

<div id="main">
	<div class="container">
		<div class="row main-row">
			<div class="4u">

				<%= render :partial => "home/autor" %>
			
				<section>
					<h2>Veja por categoria</h2>
					<div>
						<div class="row">
							<% if !@list_categorias1.blank? %>
								<div class="6u">
									<ul class="link-list">
										<% @list_categorias1.each do |categoria| %>
											<li><a data-no-turbolink="true" title="<%= categoria.titulo_link %>" href="<%= root_url %>/<%= categoria.url_amigavel %>"><%= categoria.nome %></a></li>
										<% end %>
									</ul>
								</div>
							<% end %>
							<% if !@list_categorias2.blank? %>
								<div class="6u">
									<ul class="link-list">
										<% @list_categorias2.each do |categoria| %>
											<li><a data-no-turbolink="true" title="<%= categoria.titulo_link %>" href="<%= root_url %>/<%= categoria.url_amigavel %>"><%= categoria.nome %></a></li>
										<% end %>
									</ul>
								</div>
							<% end %>
						</div>
					</div>
				</section>

				<%= render :partial => "home/aside" %>
				
			</div>
			<div class="8u skel-cell-important">

				<section class="right-content">
					<h2>Sobre o TCC SEO</h2>
					<p>O Blog do TCC SEO foi desenvolvido com a ideia de divulguar informações adquiridas durante o estudo sobre <strong>SEO (Search Engine Optimization, em português Otimização para mecanismos de busca)</strong>.</p>
					<p>Todo o materia adquirido será informado aqui além das fases e resultados que forem ocorrendo e obtidos. Este blog é escrito por <a title="Autor do TCC SEO" href="http://www.jeanmiguel.eti.br" target="_blank">Jean Miguel Ferreira Dias</a> autor do <strong>TCC sobre SEO</strong> e orientando de <a title="Orientador do TCC SEO" href="http://www.leandroborges.eng.br" target="_blank">Leandro Borges</a> Mestre Professor do Centro Universitário <a title="Centro Universitário de Franca - Uni-FACEF" href="http://site.unifacef.com.br/" target="_blank">Uni-FACEF</a>.</p>
					<p>O Blog TCC SEO é escrito de forma simples para fácil compreenssão de todos os públicos, alterando em alguns casos o uso de termos mais específicos da área por termos populares, com o objetivo de divulgar estas informações que são úteis para qualqueis tipos de pessoas que querem aumentar o número de visitas em seus sites.</p>
					<p>Todo o conteúdo abordado aqui tem como base um trabalho acadêmico para conclusão de curso que será apresentado no mês de outubro de 2014, em que todo o matérial, termos e técnicas abordadas também foram abordadas neste trabalho acadêmico.</p>
				</section>
			
			</div>
		</div>
	</div>
</div>

<%= render :partial => "home/footer" %>