<%= content_for :seo do %>
	<% if !@evento.blank? %>
		<title><%= @evento.meta_titulo %></title>
	  <meta name="description" content="<%= @evento.meta_descricao %>">
	<% end %>
<% end %>

<%= render :partial => "home/nav" %>

<div id="main">
	<div class="container">
		<div class="row main-row">
			<div class="4u">

				<%= render :partial => "home/autor" %>
			
				<section>
					<h2>Veja por categoria</h2>
					<div>
						<div class="row">
							<% if !@list_categorias1.blank? %>
								<div class="6u">
									<ul class="link-list">
										<% @list_categorias1.each do |categoria| %>
											<li><a data-no-turbolink="true" title="<%= categoria.titulo_link %>" href="<%= root_url %>/<%= categoria.url_amigavel %>"><%= categoria.nome %></a></li>
										<% end %>
									</ul>
								</div>
							<% end %>
							<% if !@list_categorias2.blank? %>
								<div class="6u">
									<ul class="link-list">
										<% @list_categorias2.each do |categoria| %>
											<li><a data-no-turbolink="true" title="<%= categoria.titulo_link %>" href="<%= root_url %>/<%= categoria.url_amigavel %>"><%= categoria.nome %></a></li>
										<% end %>
									</ul>
								</div>
							<% end %>
						</div>
					</div>
				</section>

				<%= render :partial => "home/aside" %>
				
			</div>
			<div class="8u skel-cell-important">

				<% if !@evento.blank? %>
					<section class="right-content">
						<h2><%= @evento.titulo_evento %></h2>
						<p><%= @evento.detalhes.html_safe %></p>
						<p>Data e Hora: <strong><%= @evento.data.strftime("%d/%m/%Y") %></strong> - <span><%= @evento.horario.strftime("%H:%M") %></span></p>
						<p>Local: <%= @evento.local %></p>
						<p>Mapa:<br/> <iframe src="<%= @evento.mapa %>" width="600" height="450" frameborder="0" style="border:0"></iframe></p>
					</section>
				<% end %>
			
			</div>
		</div>
	</div>
</div>

<%= render :partial => "home/footer" %>