<%= content_for :seo do %>
	<% if !@artigo.blank? %>
		<title><%= @artigo.meta_titulo %></title>
	  <meta name="description" content="<%= @artigo.meta_descricao %>">
	<% end %>
<% end %>

<%= render :partial => "home/nav" %>

<div id="main">
	<div class="container">
		<div class="row main-row">
			<div class="8u">
				
				<% if !@artigo.blank? %>
					<section class="left-content">
						<h2><%= @artigo.titulo %></h2>
						<center>
							<%= image_tag @artigo.imagem, :title => @artigo.titulo_imagem, :class => "top blog-post-image" %>
						</center>
						<p><%= @artigo.conteudo.html_safe %></p>
					</section>

					<section>
						<div class="fb-comments" data-href="<%= root_url %>/<%= @artigo.url_amigavel %>" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
					</section>
				<% end %>
			
			</div>
			<div class="4u">

				<%= render :partial => "home/autor" %>
			
				<section>
					<h2>Veja por categoria</h2>
					<div>
						<div class="row">
							<% if !@list_categorias1.blank? %>
								<div class="6u">
									<ul class="link-list">
										<% @list_categorias1.each do |categoria| %>
											<li><a data-no-turbolink="true" title="<%= categoria.titulo_link %>" href="<%= root_url %>/<%= categoria.url_amigavel %>"><%= categoria.nome %></a></li>
										<% end %>
									</ul>
								</div>
							<% end %>
							<% if !@list_categorias2.blank? %>
								<div class="6u">
									<ul class="link-list">
										<% @list_categorias2.each do |categoria| %>
											<li><a data-no-turbolink="true" title="<%= categoria.titulo_link %>" href="<%= root_url %>/<%= categoria.url_amigavel %>"><%= categoria.nome %></a></li>
										<% end %>
									</ul>
								</div>
							<% end %>
						</div>
					</div>
				</section>

				<%= render :partial => "home/aside" %>

			</div>
		</div>
	</div>
</div>

<%= render :partial => "home/footer" %>